<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      label.error{
        margin-left: 10px;
        width: auto;
        display: inline;
      }
    </style>
    <meta charset="utf-8">
    <title>GNUKhata</title>
  </head>
  <body>
    <div class="container">
      <div id="forgotpasswordpanel" style="margin-top:52px;" class="mainbox mainbox col-md-6 pull-right">
        <!--alert bars-->
        <div class="alert alert-danger" id="forgotpassword-incorrectdetails-alert" role="alert" aria-live="rude" hidden>
          <strong>Could not change password!</strong> Please revisit your entries.
        </div>
        <div class="alert alert-danger" id="forgotpassword-nosuchuser-alert" role="alert" aria-live="rude" hidden>
          No such user!
        </div>
        <div class="alert alert-danger" id="forgotpassword-connectionfailed-alert" role="alert" aria-live="rude" hidden>
          Connection Failed.
        </div>
        <div class="alert alert-danger" id="username-blank-alert" role="alert" aria-live="rude" hidden>
          Please enter a <strong>Username!</strong>
        </div>
        <div class="alert alert-danger" id="securityquestion-blank-alert" role="alert" aria-live="rude" hidden>
          A valid <strong>Security Question</strong> required!
        </div>
        <div class="alert alert-danger" id="securityanswer-blank-alert" role="alert" aria-live="rude" hidden>
          A valid <strong>Security Answer</strong> required!
        </div>
        <div class="alert alert-danger" id="newpassword-blank-alert" role="alert" aria-live="rude" hidden>
          New Password cannot be blank!
        </div>
        <div class="alert alert-danger" id="passwords-dont-match-alert" role="alert" aria-live="rude" hidden>
          <strong>Passwords do not match</strong> or the field is <strong>left empty</strong>! Be Careful.
        </div>
        <div class="alert alert-danger" id="securityanswer-incorrect-alert" role="alert" aria-live="rude" hidden>
          <strong>Security Answer</strong> incorrect!
        </div>
        <!--panel stars-->
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Forgot Password?</div>
          </div>

          <div style="padding-top:30px" class="panel-body" >
          <form id="loginform" action="userlogin" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="username" required>Us<u>e</u>rname :</label>
              <input style="border-radius: 4px" id="username" type="text" class="form-control col-xs-12" name="username" value="" accesskey="e" required="" autocomplete="off"></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="securityquestion">Security <u>Q</u>uestion :</label>
              <input style="border-radius: 4px" id="securityquestion" type="text" class="form-control col-xs-12" name="securityquestion" value="" accesskey="q" required="" readonly disabled autocomplete="off" aria-live="rude"></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="securityanswer">Security <u>A</u>nswer :</label>
              <input style="border-radius: 4px" id="securityanswer" type="text" class="form-control col-xs-12" name="securityanswer" value="" accesskey="a" required="" autocomplete="off"></input>
            </div>

            <div style="margin-bottom: 25px; display:none;" class="input-group col-xs-12 passwordfields">
              <label for="newpassword">Enter New Pass<u>w</u>ord :</label>
              <input style="border-radius: 4px" id="newpassword" type="password" class="form-control col-xs-12" name="newpassword" accesskey="w" required="" autocomplete="off"></input>
            </div>

            <div style="margin-bottom: 25px; display: none" class="input-group col-xs-12 passwordfields">
              <label for="confirmpassword">C<u>o</u>nfirm New Password :</label>
              <input style="border-radius: 4px" id="confirmpassword" type="password" class="form-control col-xs-12" name="confirmpassword" accesskey="o" required="" autocomplete="off"></input>
            </div>

            <input id="orgcode" type="hidden" name="orgcode" value="{{orgcode}}" class="form-control" autocomplete="off"></input>
            <input id="userid" type="hidden" name="userid" value="" class="form-control" ></input>

            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="btnsubmit" type="submit" class="btn btn-success"  accesskey="s"><span class="glyphicon glyphicon-save" style="margin-right: 5px"></span><u>S</u>ave</button>
                <button id="back" type="button" class="btn btn-danger"accesskey="b"><span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px"></span><u>B</u>ack</button>
              </div>
            </div>
          </form>
        </div>

        </div>
      </div>

    </div>
    <script src="{{request.static_url('gkwebapp:static/js/forgotpassword.js')}}"></script>
  </body>
</html>
